@import 'reset'
@import "variables.styl"
.icon
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden

@keyframes spin {
  0% {
    transform rotate(0deg)
  }
  100% {
    transform rotate(360deg)
  }
}
.tc
  text-align center
.tl
  text-align left
.tr
  text-align right
.spin
  animation spin .6s infinite linear
  display inline-block

html
  height 100%

body
  font-size 12px
  font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
  height 100%

  .ivu-select-dropdown
    padding 0

.lineov2
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical

.lineov1
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

.flex-container
  display flex

.align-center
  align-items center

.flex-center
  display flex
  align-items center

.flex-top
  display flex
  align-items flex-start

.justify-end
  justify-content flex-end

.flex-one
  flex 1 1 0

.flex-two
  flex 2

.mouse-pointer
  cursor pointer

.no-break
  word-break keep-all
  white-space nowrap

.break-all
  word-break break-all
  white-space normal

/* ---- Chrome ----*/
.scroll::-webkit-scrollbar
  width: 5px;

/*滚动条粗细*/

.scroll::-webkit-scrollbar-track
  -webkit-box-shadow: none;
  background: #f8f8f9; /*滑道颜色*/
  border-radius: 5px;

/*滑道的圆滑度*/

.scroll::-webkit-scrollbar-thumb
  background: #c1c1c1; /*滑块颜色*/
  border-radius: 5px

/*滑块圆滑度*/

.scroll::-webkit-scrollbar-thumb:hover
  background: gray;

/*滑块上浮*/

/*--- FirFox ---*/
.scroll
  scrollbar-width: thin;
  scrollbar-color: orange green;

/* --- IE ---*/
body
  scrollbar-arrow-color: #f4ae21; /*三角箭头的颜色*/
  scrollbar-face-color: #333; /*立体滚动条的颜色*/
  scrollbar-3dlight-color: #666; /*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: #666; /*滚动条空白部分的颜色*/
  scrollbar-shadow-color: #999; /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: #666; /*立体滚动条强阴影的颜色*/
  scrollbar-track-color: #666; /*立体滚动条背景颜色*/
  scrollbar-base-color: #f8f8f8;

/*滚动条的基本颜色*/

.common-table
  width 100%
  border-collapse: collapse;
  tr > td, tr > th
    border 1px solid $border-color
    padding 5px 8px
  tr > th
    font-weight bolder
    white-space nowrap

.inline-div
  display inline-block

[class~=flex].gutter-span
  > * + *
    margin-left .75rem

.warning
  color $yellow
.active
  color $active-color
.white
  color white
.gold
  color $gold-color
.gray
  color $gray-color
.red
  color $red
.blue
  color $blue
.green
  color green
.bg-white
  background #fff
.pct100
  width 100%
.bolder-font
  font-weight bolder

.large-tip
  font-size 16px
