body
  --active #409EFF
  --success #67C23A
  --warning #E6A23C
  --red #F56C6C
  --info var(--gray-6)
  --gray-1 #F2F6FC
  --gray-2 #EBEEF5
  --gray-3 #E4E7ED
  --gray-4 #DCDFE6
  --gray-5 #C0C4CC
  --gray-6 #909399
  --gray-7 #606266
  --gray-8 #303133
  --white #FFFFFF
  --black #000000
  --transparent transparent

$gray-1 = var(--gray-1)
$gray-2 = var(--gray-2)
$gray-3 = var(--gray-3)
$gray-4 = var(--gray-4)
$gray-5 = var(--gray-5)
$gray-6 = var(--gray-6)
$gray-7 = var(--gray-7)
$gray-8 = var(--gray-8)
$active-color = var(--active)
$red = var(--red)
$border-color = var(--gray-4)
